{
  "extends": ["stylelint-config-standard-scss"],
  "ignoreFiles": ["**/*.vue"],
  "rules": {
    "color-hex-case": "lower",
    "unit-allowed-list": [ "px", "%", "s", "rem", "em", "ms", "deg", "vw", "vh" ],
    "declaration-empty-line-before": "never",
    "declaration-colon-newline-after": "always-multi-line",
    "no-extra-semicolons": true,
    "max-empty-lines": 2,
    "indentation": 4,
    "rule-empty-line-before": "always",
    "at-rule-empty-line-before": "always",
    "function-no-unknown": [true, {"ignoreFunctions": ["findColorInvert", "lighten", "darken"]}],
    "function-name-case": ["lower", {"ignoreFunctions": ["findColorInvert"]}],
    "scss/no-global-function-names": null,
    "selector-class-pattern": ".+"
  }
}
